*.pyc
.DS_Store
data/*
logs/*
*.ttc
Icon*
.vscode
*.icloud

validation_local_torch_*/mydata/
validation_local_torch*

testdata/
remotelogs/
scripts/logs/
validation_perf_*/
validation_sync_*/
validation_*stack_*.txt
